{% extends "base.html" %}
{% load static %}

{% block 'head' %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

{% endblock 'head' %}

{% block 'body' %}
    {% if messages %}
        <br>
        {% for message in messages %}
            <section class="alert {{message.tags}}">
                {{message}}
            </section>
        {% endfor %}
    {% endif %}
<div class="container">
    <form class="form-validation" method="POST" action="">{% csrf_token %}
        <div class="row justify-content-between">
            <div class="col-2">
                <label class="form-label mt-3">Ciclo</label>
                <select class="form-select" aria-label="Default select example" name="ciclo">
                    <option selected>Selecione...</option>
                    {% for ciclo in ciclos %}
                       <option value="{{ciclo.id}}">{{ciclo}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-2">
                <label class="form-label mt-3">Versão</label>
                <select class="form-select" aria-label="Default select example" name="versao">
                    <option selected>Selecione...</option>
                    {% for versao in versoes %}
                       <option value="{{versao.id}}">{{versao}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-2">
                <label class="form-label mt-3">Tipo de Acabamento</label>
                <select class="form-select" aria-label="Default select example" name="tipo_acabamento">
                    <option selected>Selecione...</option>
                    {% for acabamento in tipos_acbto %}
                       <option value="{{acabamento.id}}">{{acabamento}}</option>
                    {% endfor %}
                </select>
            </div>        
            <div class="col-2">
                <label for="codigoInput" class="form-label mt-3">Tipo de Material</label>
                <input type="text" class="form-control" id="" name="tipo_material" placeholder="Ex.: Revista">
            </div>
            <div class="col-2">
                <label for="gramaturaInput" class="form-label mt-3">Tiragem</label>
                <input type="number" class="form-control" id="" name="tiragem">
            </div>
            <div class="col-2">
                <label for="bobinaInput" class="form-label mt-3">Qtde. Cadernos</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="qtde_cadernos" id="qtde_cadernos">
                    <button class="btn btn-outline-secondary text-bg-success" type="button" id="btn_gerar_cads">Gerar</button>
                </div>
            </div>            
        </div>

        <table class="table text-center">
            <thead>
              <tr>
                <th scope="col">Nome do caderno</th>
                <th scope="col">Paginação</th>
                <th scope="col">Exs./giro</th>
                <th scope="col">Papel</th>
                <th scope="col">IMP Discovery</th>
                <th scope="col">IMP Refile</th>
                <th scope="col">Desintercalação</th>
                <th scope="col">ACAB Refile</th>
                <th scope="col">ACAB Discovery</th>
                <th scope="col">ACAB Disc.MAN</th>
                <th scope="col">ACAB Manuseio</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" class="form-control" name="nome_caderno"></td>
                <td><input type="number" class="form-control" name="paginacao"></td>
                <td>
                    <select class="form-select" name="exs_giro">
                        <option></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </td>
                <td>
                    <select class="form-select" name="papel">
                        {% for papel in papeis %}
                            <option></option>
                            <option value="{{papel.id}}">{{papel}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><input class="form-check-input" type="checkbox" value="1" id="" name="disc_imp"></td>
                <td><input class="form-check-input" type="checkbox" value="1" id="" name="refile_imp"></td>
                <td><input class="form-check-input" type="checkbox" value="1" id="" name="desintercalacao"></td>
                <td><input class="form-check-input" type="checkbox" value="1" id="" name="refile_acab"></td>
                <td><input class="form-check-input" type="checkbox" value="1" id="" name="disc_acab"></td>
                <td><input class="form-check-input" type="checkbox" value="1" id="" name="disc_man"></td>
                <td><input class="form-check-input" type="checkbox" value="1" id="" name="manuseio"></td>
              </tr>
            </tbody>
          </table>
        <button class="btn btn-primary mt-2" type="submit" id="">Cadastrar</button>
    </form>    
</div>

{% endblock 'body' %}